<!-- MinGH Configuration File (must be named config.xml) -->
<configuration>

    <!-- The directory in which the game will search for songs. If not specified,
         a default of ./Songs will be used. --> 
    <songDirectory>./Songs</songDirectory>
    
    <!-- Play the game fullscreen at 800x600 (will support custom resolutions later -->
    <fullscreen>false</fullscreen>

    <!-- Have the game hit the notes for you. -->
    <autoplay>true</autoplay>
    
    <!--Sets the game so the guitar charts can be played like a drum chart
    (i.e. No strumming and no HOPOs, just flat button hitting)
    NOTE: The drum keys will be used with this setting regardless of chart.
    NOTE: This option can also turn this game into a keyboard Stepmania clone-->
    <useDrumStyleInputForGuitarMode>false</useDrumStyleInputForGuitarMode>

    <!-- The different speed mod settings.  You can edit or add however many settings 
         you want as long as the selectedSpeedMod points to a speedMod of the same id,
         else a default (probably wrong) value will be used.  Also ensure no two speedMods
         share the same id, else untold things will happen.
         -MSOffset: The number of milisecondsseconds a note should be displayed early
                    (i.e. higher speeds need a lower offset).  Edit this if notes
                    appear to come too early or late.  A higher number = earlier notes.
         -NVMultiplier: The note velocity multiplier denotes how fast the notes will move down
                        the screen (i.e. higher = faster).  Edit this if notes scroll too fast
                        or slow. -->
    <speedMods>
    
        <selectedSpeedMod>2</selectedSpeedMod>
        
        <speedMod id="1">
            <MSOffset>1890</MSOffset>
            <NVMultiplier>0.4</NVMultiplier>
        </speedMod>
        
        <speedMod id="2">
            <MSOffset>1490</MSOffset>
            <NVMultiplier>0.5</NVMultiplier>
        </speedMod>
        
        <speedMod id="3">
            <MSOffset>1200</MSOffset>
            <NVMultiplier>0.6</NVMultiplier>
        </speedMod>

        <speedMod id="4">
            <MSOffset>1049</MSOffset>
            <NVMultiplier>0.7</NVMultiplier>
        </speedMod>

        <speedMod id="5">
            <MSOffset>905</MSOffset>
            <NVMultiplier>0.8</NVMultiplier>
        </speedMod>
        
    </speedMods>
    
    <!-- The following settings are used to ensure the 100x100 notes will align perfectly with
         the currently used background.  Like the speed mods, any number of themes can be set up,
         as long as the selectedTheme element points to an existing theme id. Also ensure no two
         themes share the same id, else untold things will happen.
         Know that the elements inside a theme must maintain the order that is present here,
         else some elements may be missing, or an exception will be thrown (i.e. ERROR).-->
    <themes>
        <selectedTheme>1</selectedTheme>
    
        <theme id="1">
            <!-- The path to the sprite sheet that will be used with this theme 
                 Know that the game expects a 500x600 sprite sheet in which every note
                 is of the size 100x100 (See the provided sprite sheet to see what goes where).
                 The exception is the bass drum note which should be 400x100.
                 The game will scale the notes to fit the lane (so use up all the 
                 width avaliable to you).-->
            <noteSkinFile>./Content/Sprites/DefaultSprites.png</noteSkinFile>

            <!-- The path to the fretboard file used.  This will also be scaled
                 to the proper size.  As far as I know, any size should work.
                 Just horizontal rectangles will be scaled horribly.-->
            <fretboardTexture>./Content/Fretboards/Default/Fretboard.png</fretboardTexture>
          
            <!-- The texture used to separate each of the lanes.  This only includes the
                 separators INSIDE the fretboard. -->
            <laneSeparatorTexture>./Content/Fretboards/Default/LaneSeparator.png</laneSeparatorTexture>

            <!-- The texture used on each side of the fretboard (giving it a nice edge).
                 This texture is only applied to the OUTSIDE separators on the fretboard.-->
            <fretboardBorders>./Content/Fretboards/Default/LaneSeparator.png</fretboardBorders>

            <!-- The texture for the fretboard's hit marker.  It will be scaled to fit
                 the user specifications, so try to use a horizontal rectangle shaped
                 texture for the best scaling. -->
            <hitMarkerTexture>./Content/Fretboards/Default/HitMarker.png</hitMarkerTexture>
          
            <!-- How far the hit marker will be from the screen.  Higher means the marker 
                 will be farther up the fretboard.  Know that changing this value will
                 invalidate any current speed mod settings. -->
            <hitMarkerDepth>240</hitMarkerDepth>
          
            <!-- How large the hit marker will be.  The internal hitbox's center
                 (i.e. when you should hit a note), will always be in the center of the
                 hit marker.  As a result, changing this value will also require
                 readjusting the speed mod settings. -->
            <hitMarkerSize>6</hitMarkerSize>
        
            <!-- The directory in which the background files can be found.  The files must follow a 
                 standard naming format of:
                    GuitarSingle.png
                    DrumsSingle.png
                    ..Will add more as time goes on -->
            <backgroundDirectory>./Content/Backgrounds/Default</backgroundDirectory>

            <!-- The size of the lanes themselves (WITHOUT the border size included).
                 Know that every lane will be of the same size for a single instrument. -->
            <laneSize>
                <guitarSingle>35</guitarSingle>
                <drumSingle>35</drumSingle>
            </laneSize>
            
            <!-- The physical size of the lane separators INSIDE the fretboard.
                 Know that every separator will be the same size. -->
            <laneSeparatorSize>3</laneSeparatorSize>

            <!-- The physical size of the borders on the OUTSIDE of the fretboard.
                 Know that both borders will be the same size. -->
            <fretboardBorderSize>6</fretboardBorderSize>
        </theme>
    </themes>

</configuration>